.jumbotron {
    background-image: url("./Images/Bike-hero.jpg");
    background-position: center;
    background-size: cover;
    color:white;
    height:50vh;
}
.jumbo-txt{
    text-align:center;
    position:relative;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
}
.body-content {
    margin: 0;
    padding: 0;
}
.navbar{
    margin-bottom:0;
}
.row{
    padding:10px;
}
.img-box{
    width:100%;
    height:90%;
}
    .img-box img {
        width: 100%;
        height: 100%;
    }
.txt-box {
    position: relative;
    bottom: 280px;
    color: white;
    padding-left:10px;
}
.txt-box h1{
    margin:0;
  
}

@media screen and (max-width:768px){
    .col-md-4 {
        margin-bottom: 10px;
    }
    .txt-box {
        bottom: 180px;
    }
}
@media screen and (max-width:576px){
    .txt-box {
        bottom: 250px;
    }
}