.img-box{
    width:100%;
    height:90%;
}
    .img-box img {
        width: 100%;
        height: 100%;
    }
.txt-box {
    position: relative;
    bottom: 280px;
    color: white;
    padding-left:10px;
}
.txt-box h1{
    margin:0;
  
}
@media screen and (max-width:768px){
    .col-md-4 {
        margin-bottom: 10px;
    }
    .txt-box {
        bottom: 180px;
    }
}
@media screen and (max-width:576px){
    .txt-box {
        bottom: 250px;
    }
}