body {
    background-color:black;
}
.img-box {
    width: 100%;
    height: 100%;
}
    .img-box img {
        width: 100%;
        height: 100%;
    }

.main {
    background-color: white;
    border: 8px solid #424242;
}
.body-content{
    margin:0;
    padding:0;
    background-color:black;
}
.s {
    position: relative;
    bottom: 90px;
    color: white;
    padding: 8px 0;
    border: solid 1px white;
    text-align: center;
    margin: 0 50px;
    font-family: 'Lalezar', cursive;
}
.row{
    padding:10px;
}
.box-1 {
    padding: 0 5px 0 0;
}
    .box-1:hover{
        cursor:pointer;
    }
    .box-2 {
        padding: 0 0 0 5px;
    }
        .box-2:hover {
            cursor: pointer;
        }
.col-md-8 {
    padding: 0 5px 0 0;
}
.box-tag {
    background-color: rgba(0,0,0,.55);
    color: white;
    position: relative;
    bottom: 38px;
    padding: 7px 0;
}
.box-tag-2 {
    background-color: rgba(0,0,0,.55);
    color: white;
    position: relative;
    bottom: 34px;
    padding: 8px 0;
}
.col-md-4 {
    padding: 0 0 0px 8px;
}

.col-md-5 {
    padding: 0 8px 0 8px;
}
.col-md-7 {
    padding: 0 8px 0 0;
}
@media screen and (max-width:768px){
    .col-md-4 {
        padding: 0 0 10px 8px;
    }
    .m {
        margin-top: 10px;
    }
    .col-md-5{
        margin-bottom:10px;
        padding-left:0;
    }
}
@media screen and (max-width:576px) {
    .box-1{
        margin-bottom:10px;
    }
    .col-md-4 {
        padding: 0 0 8px 0px;
    }
    .box-1,.box-2{
        padding:0;
    }
    .container {
        border:none;
    }
}